# **Data Cleaning**

##**Import Libraries**

In [1]:
# Import necessary libraries
import pandas as pd

# We use pandas for data manipulation and cleaning

## **Load the Dataset**

In [7]:
# Load the CSV dataset
df = pd.read_csv('dataset.csv')

# Display basic info to check structure and data types
df.info()

# Preview first few rows to understand the dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country_of_Origin       300000 non-null  object
 1   Education_Level         300000 non-null  object
 2   Field_of_Study          300000 non-null  object
 3   Language_Proficiency    300000 non-null  object
 4   Visa_Type               300000 non-null  object
 5   Gender                  300000 non-null  object
 6   University_Ranking      300000 non-null  object
 7   Region_of_Study         300000 non-null  object
 8   Age                     300000 non-null  int64
 9   Years_Since_Graduation  300000 non-null  int64
 10  GPA                     300000 non-null  float64
 11  Internship_Experience   300000 non-null  object
 12  Employment_Status       300000 non-null  object
 13  Salary                  300000 non-null  int64
 14  Job_Sector              156644 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 34.3+ MB

,Country_of_Origin,Education_Level,Field_of_Study,Language_Proficiency,Visa_Type,Gender,University_Ranking,Region_of_Study,Age,Years_Since_Graduation,GPA,Internship_Experience,Employment_Status,Salary,Job_Sector
0,Vietnam,Bachelor's,IT,Fluent,Permanent Residency,Female,Low,EU,23,8,3.76,Yes,Employed,54397,Healthcare
1,Germany,Master's,Arts,Intermediate,Post-study,Male,High,UK,38,9,3.76,No,Employed,69635,Finance
2,Brazil,PhD,Engineering,Intermediate,Post-study,Male,High,Canada,23,2,3.52,Yes,Employed,96216,Finance
3,Vietnam,PhD,Health,Fluent,Post-study,Female,Medium,Australia,25,5,3.28,Yes,Employed,86076,Other
4,Nigeria,PhD,Engineering,Basic,Student,Male,High,Canada,24,2,3.01,Yes,Employed,82772,Finance

## **Check Missing Values**

In [8]:
# Count missing values in each column
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Country_of_Origin              0
Education_Level                0
Field_of_Study                 0
Language_Proficiency           0
Visa_Type                      0
Gender                         0
University_Ranking             0
Region_of_Study                0
Age                            0
Years_Since_Graduation         0
GPA                            0
Internship_Experience          0
Employment_Status              0
Salary                         0
Job_Sector                143356
dtype: int64

## **Handle Missing Values**

In [9]:
# Job_Sector has missing values
# Fill missing Job_Sector with 'Unknown'
df['Job_Sector'] = df['Job_Sector'].fillna('Unknown')

# Verify no more missing values
print(df['Job_Sector'].isnull().sum())

0

## **Convert Object Columns to Category**

In [10]:
# Convert object/string columns to categorical for efficiency
categorical_cols = [
    'Country_of_Origin', 'Education_Level', 'Field_of_Study',
    'Language_Proficiency', 'Visa_Type', 'Gender',
    'University_Ranking', 'Region_of_Study',
    'Internship_Experience', 'Employment_Status', 'Job_Sector'
]

for col in categorical_cols:
    df[col] = df[col].astype('category')

# Check data types after conversion
df.dtypes

Country_of_Origin         category
Education_Level           category
Field_of_Study            category
Language_Proficiency      category
Visa_Type                 category
Gender                    category
University_Ranking        category
Region_of_Study           category
Age                          int64
Years_Since_Graduation       int64
GPA                        float64
Internship_Experience     category
Employment_Status         category
Salary                       int64
Job_Sector                category
dtype: object

## **Check Numeric Columns**

In [11]:
# List of numeric columns
numeric_cols = ['Age', 'Years_Since_Graduation', 'GPA', 'Salary']

# Display basic statistics to understand numeric data
df[numeric_cols].describe()

                 Age  Years_Since_Graduation            GPA         Salary
count  300000.000000           300000.000000  300000.000000  300000.000000
mean       30.495950                4.504150       3.200365   30333.692383
std         5.187951                2.874557       0.400285   31791.208938
min        22.000000                0.000000       1.350000       0.000000
25%        26.000000                2.000000       2.930000       0.000000
50%        30.000000                5.000000       3.200000   32296.500000
75%        35.000000                7.000000       3.470000   56634.000000
max        39.000000                9.000000       4.920000  118115.000000

## **Identify Outliers**

In [12]:
# Check for outliers using IQR method
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"{col} outliers: {len(outliers)}")

# Note: We will keep all outliers as-is

Age outliers: 0
Years_Since_Graduation outliers: 0
GPA outliers: 2036
Salary outliers: 0

In [13]:
# GPA column
Q1 = df['GPA'].quantile(0.25)
Q3 = df['GPA'].quantile(0.75)
IQR = Q3 - Q1

# Calculate lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"GPA lower bound: {lower_bound}")
print(f"GPA upper bound: {upper_bound}")

GPA lower bound: 2.12
GPA upper bound: 4.28

In [14]:
# Filter rows that are GPA outliers
gpa_outliers = df[(df['GPA'] < lower_bound) | (df['GPA'] > upper_bound)]

# Show how many and the first few
print(f"Number of GPA outliers: {len(gpa_outliers)}")
gpa_outliers.head()

Number of GPA outliers: 2036

,Country_of_Origin,Education_Level,Field_of_Study,Language_Proficiency,Visa_Type,Gender,University_Ranking,Region_of_Study,Age,Years_Since_Graduation,GPA,Internship_Experience,Employment_Status,Salary,Job_Sector
25,USA,Bachelor's,Arts,Basic,Student,Female,Medium,Canada,34,8,2.03,Yes,Continuing Education,0,Unknown
26,USA,Bachelor's,Arts,Advanced,Work Visa,Male,Medium,Australia,25,9,4.30,No,Continuing Education,0,Unknown
79,Germany,PhD,Arts,Advanced,Student,Male,Medium,Australia,30,4,4.30,Yes,Employed,95067,Education
131,Brazil,Bachelor's,Social Sciences,Basic,Student,Female,High,Canada,36,8,2.07,Yes,Employed,42178,Retail
204,Germany,Bachelor's,Business,Fluent,Student,Female,High,UK,28,5,1.97,No,Unemployed,0,Unknown

In [15]:
# Just the GPA values of the outliers
gpa_outliers['GPA'].unique()

array([2.03, 4.3 , 2.07, 1.97, 1.66, 2.09, 2.01, 4.33, 4.29, 1.91, 1.6 ,
       4.36, 4.59, 4.47, 2.06, 1.92, 1.8 , 2.1 , 4.39, 4.41, 1.9 , 1.71,
       1.99, 4.37, 4.49, 1.87, 2.05, 4.34, 2.11, 2.08, 4.35, 2.04, 1.93,
       1.68, 4.45, 4.51, 4.62, 1.96, 4.31, 1.84, 4.76, 1.76, 2.  , 1.62,
       4.58, 4.52, 1.88, 1.94, 1.78, 4.32, 4.4 , 4.56, 4.48, 4.43, 1.98,
       4.38, 4.42, 4.72, 4.53, 2.02, 1.41, 1.77, 4.63, 1.95, 4.5 , 4.44,
       4.67, 4.55, 1.79, 4.6 , 1.86, 4.61, 1.74, 4.54, 1.69, 1.89, 1.85,
       4.46, 4.74, 4.66, 1.83, 4.68, 1.49, 4.65, 1.73, 1.82, 1.81, 4.71,
       4.57, 1.59, 4.73, 4.64, 1.43, 1.7 , 4.92, 1.35, 4.79, 1.65, 1.75,
       1.63, 4.7 , 1.72, 1.39, 4.75, 1.57, 4.77, 4.69, 1.67])

*Reason for keeping GPA outliers:*
1. *They may represent real variations in the data (e.g., exceptionally high or low GPA students).*
2. *Removing them could bias analyses and distort true patterns.*
3. *Outlier detection methods (like IQR) flag unusual values but do not automatically indicate errors.*
*Therefore, we identify outliers for reporting purposes but keep them in the dataset.*

In [16]:
# Check the overall dataset info
df.info()

# Ensure no missing values remain
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country_of_Origin       300000 non-null  category
 1   Education_Level         300000 non-null  category
 2   Field_of_Study          300000 non-null  category
 3   Language_Proficiency    300000 non-null  category
 4   Visa_Type               300000 non-null  category
 5   Gender                  300000 non-null  category
 6   University_Ranking      300000 non-null  category
 7   Region_of_Study         300000 non-null  category
 8   Age                     300000 non-null  int64
 9   Years_Since_Graduation  300000 non-null  int64
 10  GPA                     300000 non-null  float64
 11  Internship_Experience   300000 non-null  category
 12  Employment_Status       300000 non-null  category
 13  Salary                  300000 non-null  int64
 14  Job_Sector              300000 non-null  category
dtypes: category(11), float64(1), int64(3)
memory usage: 12.3 MB
Country_of_Origin         0
Education_Level           0
Field_of_Study            0
Language_Proficiency      0
Visa_Type                 0
Gender                    0
University_Ranking        0
Region_of_Study           0
Age                       0
Years_Since_Graduation    0
GPA                       0
Internship_Experience     0
Employment_Status         0
Salary                    0
Job_Sector                0
dtype: int64

In [17]:
# Save the cleaned dataset to CSV
df.to_csv('cleaned_dataset.csv', index=False)
print("Cleaned dataset saved as 'cleaned_dataset.csv'")

Cleaned dataset saved as 'cleaned_dataset.csv'